*{
    
    color:rgb(24, 3, 3);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-position-y: top;
}

.menu {
    background-color: #c20909;
    padding: 1rem;
}

a {
    text-decoration: none;
    gap: 30px;
    color: white;
    font-size:18px;
    font-weight: 500;
}
a:hover{
    color:#0077cc;
}
a.router-link-active{
    color:#0077cc;
    font-weight:bold;
}
.display{
    width: 100vw;
    height: 100vw;
    background: black;

    display: flex;
    justify-content:center;
    align-items:center;

    overflow: hidden;
}
.poster{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}