*{
    
    color:rgb(24, 3, 3);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-position-y: top;
}

.menu {
    background-color: #c20909;
    padding: 1rem;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
.menu ul li {
    background-color: #d44646;
}